<ul>
    <% @posts.each do |post| %>
        <li>
            <%= link_to(post.subject, board_post_path(@board ,post)) %>
            <%= link_to("Edit", edit_board_post_path(@board, post)) %>
            <%= link_to("Destroy", board_post_path(@board, post), :method => :delete) %>
        </li>
    <% end %>
</ul>

<%= link_to("Create a new post", new_board_post_path) %>